{% extends 'lms/base.html' %}

{% load crispy_forms_tags %}
{% block title %}edit matric{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
{% if messages %}
  <ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
<div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-md-6">
            <div class="card" >
              
              <div class="card-body logintext" >
                <h3 class="logintext">Edit {{ request.user}}'s matric number      </h3>
                {% if error_message %}
                <span class="errorlogintext">{{ error_message }}</span>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ m_form |crispy }}
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">update</button>
                    </div>
                  </div>
                 </form>
                 
              </div >
            </div >
            </div>
          </div>
          <br>
          <br>
          <br>
{% endblock %}