{% extends 'lms/base.html' %}
{% load static %}

{% block body %}


<div class="card" style="background-color: rgba(245, 245, 245, 1); opacity: .4; width: ;">
  <div class="card-body" >
    <h1 style = "color:black;">LASU ECE Online</h1>
    <p style="padding-right:300px; font-weight: 900;">WE ARE LASU WE ARE PROUD!! Registration is on for 200-500 level and students are to enroll for courses in other to recieve lectures and get the best out of this semester sign up now if you have not done so or login and enroll for a course.</p>
  </div>

  <div>

      <p style="padding-left:300px; font-weight: 900; color: crimson;">NOTICE!! Click on the browse course list button to enroll for course, if you have not, final year students are expected to enroll for all year five courses no exception!</p>
    </div>
</div>

<a href="{% url "lms:course_list" %}" class="btn btn-info">Browse Course List</a><br>




<h3 style = "padding-top:40px; padding-right:300px; font-weight:600;">WHAT USERS ARE SAYING ABOUT THIS PLATFORM. </h3>


   <div class="row">
      {% for x in profiles %}    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-color: rgba(249, 249, 249, 0.8);">
        <div class="card-image-top">
          <img src="{{x.profile_pic.url}}" alt="{{current_user}} profile picture"
               style="display: inline-block;
              width: 300px;
              height: 300px;
              padding-left:auto ;
              object-fit: cover;
              background-position: center center;
              background-size: cover;
              border-radius: 50%;

              "
              />
      </div>
        <div class="card-body">
          <div class="card-title">
              <div class="content">
                <p>
                    {{x.bio}}
                </p>
                <span style = "font-weight: bolder;">{{x.user.first_name}} {{x.user.last_name}}</span>
                <span style = "font-weight: bolder;">{{x.matric}}</span>

              </div>

            <h4 class="card-text">

            </h4>

          </div>
        </div>
      </div><br>
    </div>
    {% endfor %}
  </div>

{% endblock %}





