{% load static %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'class19/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'class19/css/font-awesome.min.css' %}"/>


    <link rel="stylesheet" href="{% static 'finalyearproject/css/bootstrap.min.css'%}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'QA/base.css' %}">

</head>

<body class="bodyly">



    <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-dark" >
        <div class="container-fluid" >    
            <!-- Header -->
            <div class="navbar-header">
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarsupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>  
                <a class="navbar-brand logo" href="{% url 'homepage' %}" >
                    ECE Online
                </a>        
            </div>
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
                    <li class="nav-item active" >
                        <a class="nav-link"  href="{% url 'QA:daily_question' %}" >Q&A blog</a >
                    </li >

                    
                    <li class="nav-item active" >
                        <a class="nav-link"  href="{% url "QA:ask" %}" ><h5 class="navitemstyle">ASK QUESTION</h5></a >
                      </li >
                      <li class="nav-item active" >
                        <a class="nav-link"  href="{% url 'lms:course_list' %}" >e-learners</a >
                    </li >
                      <li>
                          <a class="nav-link iden" href="{% url "QA:NoAnswer" %}">help ?</a>
                      </li>
                      {% if user.is_authenticated %}
                      <li class="nav-item active" >
                        <a class="nav-link iden" href="{% url "account_logout" %}" >Logout</a >
                      </li >
                    {% else %}
                      <li class="nav-item" >
                        <a class="nav-link iden" href="{% url "account_login" %}" ><span style="font-weight:bold; color:RGB(0,185,0);">Login</span></a >
                      </li >
                      <li class="nav-item" >
                        <a class="nav-link iden"  href="{% url 'account_signup' %}" >Register</a >
                      </li >
                    {% endif %}
                    <li class="nav-item" >
                        <form role="search" method="get" class="form-search" action="{% url "QA:post_search" %}" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control search-query" name="query" placeholder="Search" title="Search for:" />
                                <span class="input-group-btn">
                                  <button type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search">
                                    <span class="">submit</span>
                                  </button>
                                </span>
                            </div>
                        </form>
                      </li>
                </ul >
                </div > 
            </div>
        </nav>















<div class="container"> <br><br>
  {% block body %}{% endblock %}
</div >
<script src="{% static 'finalyearproject/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'finalyearproject/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'finalyearproject/js/mixitup.min.js' %}"></script>
	<script src="{% static 'finalyearproject/js/circle-progress.min.js' %}"></script>
	<script src="{% static 'finalyearproject/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'finalyearproject/js/main.js' %}"></script>
</body >
</html >