
body{
	background-image: url(https://i.ibb.co/vJVjdkg/20200120-121952-1.jpg) ;
	color: #FDFFFC;
	text-align: center;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: arial, Helvetica;
	background-repeat: no-repeat;
	background-size: cover;
}


.course-list-div{
	color: rgb(73,91,152);
	text-align: center;
	text-size-adjust: 100%;
	display: block;flex-grow: 1;
	flex-shrink: 0;
	font-family: BlinkMacSystemFont, Helvetica, Arial, sans-serif; 16px;font-weight: 400;height: 189.631px;  line-height: 24px; background-color: #209cee;
	margin: 15px 20px 10px 20px;
}


.card{
	margin: 5% 0%;
  padding: 6% 0%;
  color:black;
  }

  .card-body{
	margin: 0% 0% 0% 3%;
  padding: 6% 10%;

  }

.other-card{

  background-color: rgba(249, 249, 249, 0.8);
}









.main{

background-image: white url("images/BG.jpg") no-repeat;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.loginimage{
background-image: white url("images/BG.jpg");

object-fit: cover;

}

.navbar{
background-color: #dc3545;
margin:0;
}
.logo{
font-weight:900;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.student{
background-image:url('{% static "images/student.jpg" %}');
}

.teacher{
background-image:url('{% static "images/teacher.jpg" %}');
}

.set-bg {
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}



/* body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #f7f7f7;
        } */


#messages {
	padding: 10px;
	height: 100%;
	overflow-y: auto;
        }

#messages p {
	margin: 5px 0;
	padding: 0;
        }

.sidebar {
	position: fixed;
	right: 10px;
	height: 100%;
	background-color: white;
        }

.info {
	margin: 5px 0;
	font-style: italic;
        }

.message-container {
	margin: 5px 0;
        }

.message-container .username {
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
        }

 .me,
 .username.me {
	font-weight: bold;
	color: blue;
        }

.message-container .username.me {
	display: inline-block;
	margin-right: 5px;
        }

#message-form {
	padding: 10px;
	background-color: #f7f7f7;
	position: fixed;
	bottom: 0;
	width: 50%;
        }

#message-input {
	resize: none;
		}







// Bootstrap resets
.card-two {
  border: none;
  color:black;

}
.card-img-two {
  border-radius: 0;
}

.vgr-cards-two {
  .card {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;

    &:nth-child(even) .card-img-body {
      order: 2;
    }

    &:nth-child(even) .card-body {
      padding-left: 0;
      padding-right: 1.25rem;
    }

    @media (max-width: 576px) {
      display: block;
    }

  }

  .card-img-body-two {
    flex: 1;
    overflow: hidden;
    position: relative;

    @media (max-width: 576px) {
      width: 100%;
      height: 200px;
    	margin-bottom: 20px;
    }

  }

  .card-img-two {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1140px) {
          margin: 0;
    transform: none;
    width: 100%;
    height: auto;
    }

  }

  .card-body-two {
    flex: 2;
	padding: 0 0 0 1.25rem;
  padding: 6% 0%;
  color:black;

    @media (max-width: 576px) {
      padding: 0;
    }

  }
  .card-title {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-text {
    padding-left: 10px;
    padding-right: 10px;
  }








































